@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:700italic);


body {
  font-family: 'Lato', sans-serif;
  color: #666;
}
#logo{
  margin-top: -15px;
}
#headtagline{
  margin-top: -15px;
}
.article-header{
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
// Size formats
#sitewrap{
  width: 960px;
  padding: 5px;
  margin: 20px auto;
}
#title{
  height: 100px;
  padding: 5px;
  text-align:center;
  border-bottom: 1px solid #666
}
#column-1{
  width: 190px;
  float: left;
  padding: 5px 15px;
  border-right: 1px solid #666;
}
#column-2{
  width: 384px;
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
  border-right: 1px solid #666;
}
#column-3{
  width: 280px;
  float: left;
  padding: 5px 15px;
}
// #column-main{
//   width: 620px;
//   padding: 5px 15px;
//   margin: 0px 5px 5px 0px;
//   float: left;
// }
#footer {
  clear: both;
  padding: 0px 15px;
}

// Media Queries
/* for 980px or less */
@media screen and (max-width: 980px) {

  #sitewrap {
    width: 95%;
  }
  #column-1 {
    width: 41%;
    padding: 1% 4%;
  }
  #column-2 {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }

  #column-3 {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  #header, #footer {
    padding: 1% 4%;
  }
}
/* for 700px or less */
@media screen and (max-width: 600px) {

  #sitewrap{
    width: 95%
  }

  #column-1 {
    width: auto;
    float: none;
  }

  #column-2 {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  #column-3 {
    width: auto;
    float: none;
  }
